<!DOCTYPE html>
<html>
<head>
	<title>Loadshedding Schedule</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="PowerCut">
	<div class="container" ng-controller="ScheduleCtrl">
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>Groups/Days</th>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="(group, schedule) in singledayschedule">
				<td>{{ group }}</td>
				<td ng-repeat="(day, times) in schedule">
				<div>{{ times.morning }}</div>
				<div>{{ times.evening }}</div>
				</td>
			</tr>
			</tbody>
			</table>
		</div>
	</div>
</body>
	<script type="text/javascript" src="vendor/angular/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</html>